@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');




.box6 {
  height: 700px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;
}



.middlesection {
  margin: 0px auto;
  display: block;
  text-align:center;
  padding:30px auto;
  font-size: 15px;
}

.mainPhoto {
  display:block;
  margin: 30px auto 30px;
  height: 350px;
  width: 350px;
}

.extraInfo {
  display:block;
  text-align: center;
}

