@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.body {
font-family: 'Source Sans Pro', sans-serif;
display: flex;
flex-direction: column;
margin: 0px auto 0px;
}






.box10 {
  height: 700px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;

}

.login {
  display:block;
  height: 50px;
  background-color:rgba(145, 242, 202, 0.8);
  text-align: center;
  font-size: 26px;
}




.matchsection {
  display:block;
  text-align: center;
  background-image: url("../images/Background - match page.png");
  background-repeat: no-repeat;
  background-size: 600px 476px;
  background-position:center;
}


.leftPhoto {
  width: 200px;
  height: 200px;
  margin-top: 100px;
  border-radius: 100%;
}


.rightPhoto {
  width: 200px;
  height: 200px;
  margin-top: 100px;
  border-radius: 100%;
}

.buttonsbuttom {
  display:block;
  align-content:center;
}

.sendmessage {


  margin: 20px auto 20px;
  display: block;
  width: 300px;
  height: 60px;
  font-size: 18px;
  border-radius: 10px;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  
}

.keepsearching {


  margin: 20px auto 20px;
  display: block;
  width: 300px;
  height: 60px;
  font-size: 18px;
  border-radius: 10px;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
}


